<template>
	<v-content class="fill-height">
    	<v-container class="fill-height" fluid>
			<v-layout style="z-index:5" row wrap align-center>
				<v-flex style="margin-top:-10vh">
					<plateau />
				</v-flex>
			</v-layout>
      		<Firework style="z-index:4" v-if="showFirework" :boxHeight="'100%'" :boxWidth="'100%'" />
    	</v-container>
  	</v-content>
</template>

<script src="./lib/Home.js"></script>
