<template>
    <v-snackbar style="magin-top:20px" v-model="show" :timeout="2500" :right="true" :top="true" :color="color">
        {{message}}
    </v-snackbar>
</template>

<script src="./lib/feedBack.js"></script>
<style src="./lib/feedBack.css"></style>