<template>
      <div class="cell">
        <v-icon v-if="cell.id == specialCells.player">mdi-human-handsup</v-icon>

        <v-icon color="blue" class="arrowBack" v-if="cell.id == specialCells.east">mdi-arrow-right-bold</v-icon>
        <v-icon color="blue" class="arrowBack" v-if="cell.id == specialCells.west">mdi-arrow-left-bold</v-icon>
        <v-icon color="blue" class="arrowBack" v-if="cell.id == specialCells.north">mdi-arrow-up-bold</v-icon>
        <v-icon color="blue" class="arrowBack" v-if="cell.id == specialCells.south">mdi-arrow-down-bold</v-icon>

        <v-icon class="iconFront smallCircle" v-if="cell.id == specialCells.littleSnow && !specialCells.littleAndMediumSnow">mdi-emoticon</v-icon>
        <v-icon class="iconFront mediumCircle" v-if="cell.id == specialCells.mediumSnow && !(specialCells.littleAndMediumSnow || specialCells.mediumAndBigSnow)">mdi-dots-vertical-circle</v-icon>
        <v-icon class="iconFront bigCircle" v-if="cell.id == specialCells.bigSnow && !specialCells.mediumAndBigSnow">mdi-circle</v-icon>

        <v-icon class="iconFront smallCircle" style='position:absolute;margin-top:-6px' v-if="cell.id == specialCells.littleAndMediumSnow && !specialCells.finalSnow">mdi-emoticon</v-icon>
        <v-icon class="iconFront mediumCircle" style='position:absolute;margin-top:5px' v-if="cell.id == specialCells.littleAndMediumSnow && !specialCells.finalSnow">mdi-dots-vertical-circle</v-icon>

        <v-icon class="iconFront mediumCircle" style='position:absolute;margin-top:-9px' v-if="cell.id == specialCells.mediumAndBigSnow && !specialCells.finalSnow">mdi-dots-vertical-circle</v-icon>
        <v-icon class="iconFront bigCircle" style='position:absolute;margin-top:7px' v-if="cell.id == specialCells.mediumAndBigSnow && !specialCells.finalSnow">mdi-circle</v-icon>

        <v-icon class="iconFront bigCircle" v-if="cell.id == specialCells.finalSnow">mdi-snowman</v-icon>

      </div>
</template>

<script src="./lib/cell.js"></script>
<style src="./lib/cell.css"></style>
