<template>
  <v-content>
    <h1 style="margin-top:10px" class="text-center">A propos</h1>
    <section>
      <v-layout
        column
        wrap
        class="my-12"
        style="margin-top:-15px !important;
    margin-bottom:10px !important;"
        align-center
      >
        <v-flex xs12 style="width:100%">
          <v-container grid-list-xl>
            <v-layout row wrap>
              <v-flex xs12 md4>
                <v-card flat class="transparent">
                  <v-card-text class="text-center">
                    <v-icon x-large class="blue--text text--lighten-2">mdi-web</v-icon>
                  </v-card-text>
                  <v-card-title primary-title class="layout justify-center">
                    <div class="headline text-center">Projet</div>
                  </v-card-title>
                  <v-card-text style="text-align:justify">
                    Ce projet a été réalisé dans le cadre de notre cursus universitaire.
                    <br />Le but de ce dernier est de créer un jeu à l'aide d'une ontologie.
                    <br />Dans notre cas, nous avons créé un jeu qui s'intitule Snowman, dont le but est de superposer 3 boules de neige dans le bonne ordre.
                    <br /><br/>Il faut d'abord empiler la boule moyenne sur la grosse puis la petite boule sur la boule "moyenne-grosse" que l'on vient de former.
                    <br />On ne peut empiler les boules que dans le sens logique d'un bonhomme de neige (Par le haut).
                    <br />On ne peut bouger que les boules dans leur forme basique, on peut bouger la petite - moyenne - grosse boule, mais pas des boules empilées.
                    <br /><br/>La difficulté de ce développement est le fait que nous utilisons une base de connaissance, grâce à Stardog, pour gérer le jeu.
                    <br />Les vérifications sont donc faites à chaque déplacement par des requêtes envoyées à notre base de connaissance pour vérifier la possibilité des déplacements demandés par l'utilisateur.
                    </v-card-text>
                </v-card>
              </v-flex>
              <v-flex xs12 md4>
                <v-card flat class="transparent">
                  <v-card-text class="text-center">
                    <v-icon x-large class="blue--text text--lighten-2">mdi-account</v-icon>
                  </v-card-text>
                  <v-card-title primary-title class="layout justify-center">
                    <div class="headline">Développeur</div>
                  </v-card-title>
                  <v-card-text>
                    <Avatar
                      nom="Lucas Gancel"
                      profession="M2 IDC Student"
                      style="margin-bottom:10px"
                    />
                  </v-card-text>
                </v-card>
              </v-flex>
              <v-flex xs12 md4>
                <v-card flat class="transparent">
                  <v-card-text class="text-center">
                    <v-icon x-large class="blue--text text--lighten-2">mdi-developer-board</v-icon>
                  </v-card-text>
                  <v-card-title primary-title class="layout justify-center">
                    <div class="headline text-center">Technologies</div>
                  </v-card-title>
                  <v-card-text class="text-center">
                    <img src="../../assets/vuetify.png" alt="Vuetify.js" height="100" />
                    <br />
                    <img src="../../assets/vuejs.png" alt="VueJS.js" height="100" />
                    <br />
                    <img src="../../assets/nodejs.png" alt="NodeJS.js" height="100" />
                    <br />
                    <img src="../../assets/stardog.png" alt="SolR.js" height="150" />
                  </v-card-text>
                </v-card>
              </v-flex>
            </v-layout>
          </v-container>
        </v-flex>
      </v-layout>
    </section>
  </v-content>
</template>
<script src="./lib/About.js"></script>