<template>

  <v-app>
    <v-toolbar dense :src="'https://cdn.vuetifyjs.com/images/backgrounds/vbanner.jpg'">

      <v-toolbar-title> <v-icon color="white">mdi-snowman</v-icon> Project</v-toolbar-title>

      <v-spacer></v-spacer>

      <v-toolbar-items >
        <v-btn to="/" text>Home</v-btn>
        <v-btn to="/about" text>About</v-btn>
      </v-toolbar-items>
    </v-toolbar>

    <v-content style="min-height:calc(100vh - 48px)" >
      <feedBack/>
      <router-view/>
    </v-content>
  </v-app>
</template>

<style>
.v-btn__content, .v-toolbar__title{
  color:white !important
}
.v-btn--active{
  background-color: #ffffff66 !important
}
</style>
<script>
import FeedBack from './components/feedBack/feedBack';

export default {
  name: 'App',
  components: {
    FeedBack
  },
  data: () => ({
    //
  }),
  methods: {
  },
  
  computed : {
 
  }
};
</script>
