<template>
  <div style="
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction:column
">
    <div id="table">
      <cell
        v-for="item in cells"
        v-bind:key="item.id"
        v-bind:cell="item"
        v-bind:specialCells="specialCells"
      />
    </div>
    <div style="text-align:center;margin-top:15px">
      <v-btn style="width:15%" @click="resetGame()" rounded color="primary" dark>Reset</v-btn>
    </div>
  </div>
</template>

<script src="./lib/plateau.js"></script>
<style src="./lib/plateau.css"></style>
