<template>
  <div
    class="canvasBox"
    :style="`
      height: ${canvasBoxHeight};
      width: ${canvasBoxWidth};`">
    <canvas id="canvas"></canvas>
  </div>
</template>

<style src="./lib/firework.css" scoped></style>
<script src="./lib/firework.js"></script>
