.cell {
    border : 1px solid black;
    height:42px;
    /*36px*/
    width:100%;
    display:flex;
    align-items: center;
    justify-content: center;
}

.arrowBack{
    z-index:1;
    position: absolute;
}

.iconFront{
    z-index: 5;
}

.smallCircle{
    font-size: 15px !important;
}

.mediumCircle{
    font-size: 20px !important;
}

.bigCircle{
    font-size: 27px !important;
}